.container-fluid {
  padding: 3% 2%;
}

.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.black-section {
  background-color: #040A02;
  /* color: #F2F7F6; */
  color: white;
}

.white-section {
  background-color: white;
  color: #040A02;
}

.nav-link,
.title-header,
.message-name,
.secondary-header {
  font-family: 'PT Sans', sans-serif;
}

.intro-main-text, 
.intro-text, 
.message, 
.secondary-text,
.footer-text,
.ending-text {
  font-family: 'Hind Madurai', sans-serif;
}

.custom-link {
  color: white;
  font-weight: bold;
}

.custom-link:hover {
  color: #5F7C23;
  text-decoration: none;
}

.text-col {
  padding: 4% 7% 4% 3%;
}

.secondary-header {
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
  padding-bottom: 3%;
}

.secondary-text {
  line-height: 1.5;
  font-size: 1.1rem;
}

@media (max-width: 1250px) {
  .secondary-header {
    font-size: 2.5rem;
  }
  
  .secondary-text {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {

  .secondary-header, .secondary-text, .ending-text {
    text-align: center;
    padding: 0 7%;
  }

  .secondary-header {
    font-size: 2.5rem;
    padding-bottom: 5%;
  }
  
  .secondary-text {
    font-size: 1.1rem;
  }

  .text-col {
    padding: 4% 3% 4% 3%;
  }
}

.col-art {
  text-align: center;
}

.artwork {
  max-height: 700px;
}

@media (max-width: 992px) {

  .artwork {
    padding-bottom: 3%;
  }
}

/*Nav bar */

.navbar {
  height: fit-content;
  margin-right: 3%;
}

.navbar-brand {
  display: none;
}

.brand-img {
  height: 60px;
}

.nav-item {
  padding: 10px 15px;
}

.nav-link:hover {
  background-color: #5F7C23;
  border-radius: 5%;
}

@media (max-width: 992px) {

  .navbar-brand {
    display: inline-block;
  }
}

/* Title section */

.img-container {
  /* Using linear-gradient with rgba() allows you to apply a gradient to
  your background image that makes it look as though its opacity has 
  been lowered even though it hasn't (bc that can't be done in CSS without affecting child elements) 
  Important!: set the altered background image BEFORE the CSS meant to
  apply the parallax effect */
  /* background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("https://www.efeverde.com/storage/2017/09/oso-panda-bamb%C3%BA-alimentaci%C3%B3n.jpg"); */
  background-image: url(https://www.efeverde.com/storage/2017/09/oso-panda-bamb%C3%BA-alimentaci%C3%B3n.jpg);
 
   /* Set a specific height  */
  min-height: 700px;

  /* Create the parallax scrolling effect  */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container {
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  top: 470px;
  margin: auto auto 3% 3%;
}

.title-header {
  font-weight: bold;
  font-size: 4.5rem;
  padding: 10px;
  color: black;
  text-align: center;
}

@media (max-width: 1300px) {
  .title-header {
    font-size: 4rem;
  }
}

@media (max-width: 992px) {

  .header-container {
    margin: auto 3% 3%;
    top: 520px;
  }

  .img-container {
    background-attachment: scroll;
    background-position: top right;
  }
}

@media (max-width: 768px) {
  .title-header {
    font-size: 3rem;
  }
}

@media (max-width: 720px) {
  .img-container {
    background-position: top;
  }
}

@media (max-width: 450px) {

  .img-container {
    background-position: 60% 10%;
  }
}


/* Intro */

.icon-text {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 1%;
}

.icon-text:hover {
  color: #5F7C23;
}

.intro-main-text {
  padding: 3% 15% 5%;
  line-height: 1.5;
  font-size: 1.3rem;
  text-align: left;
}

.intro-text {
  line-height: 1.5;
  font-size: 1.1rem;
  text-align: center;
  padding: 5%;
}

.panda-icon {
  padding: 5px;
  margin-bottom: 20px;
}

/* Characters section */

.chara-div {
  max-width: 400px;
  color: #040A02;
}

@media (max-width: 992px) {
  .chara-div {
    max-width: 300px;
  }

  .intro-main-text {
    font-size: 1.1rem;
    text-align: center;
  }

  .intro-text {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {

  .intro-text {
    padding: 3% 7% ;
  }

  .intro-main-text {
    font-size: 1rem;
    text-align: center;
  }

  .intro-text {
    font-size: 0.9rem;
  }
}

@media (max-width:576px) {
  .chara-div {
    font-size: 0.8rem;
  }
}

.chara-btn {
  text-align: center;
}

.chara-btn:hover {
  color: #5F7C23;
}

/* Messages section */

#messages {
  position: relative;
  z-index: 1;
}

#messages .secondary-text {
  text-align: center;
  padding-top: 5%;
}

.carousel {
  padding: 2% 7%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.message {
  line-height: 1.5;
  margin: 7% 3%;
}

.message-img {
  max-width: 64px;
  border-radius: 100%;
}

.message-name {
  font-weight: bold;
  font-size: larger;
}

@media (max-width: 992px) {

  .message {
    line-height: 1.2;
    font-size: 0.9rem;
  }

  .carousel-control-prev, .carousel-control-next {
    padding: 0;
  }
}

/* Him section */

.sandy-img {
  position: absolute;
}

@media (max-width: 1250px) {
  .sandy-img {
    padding-top: 5%;
  }
}

@media (max-width: 992px) {
  
  .sandy-img {
    position: static;
    z-index: 0;
  }

 /*  #art {
    position: static;
    z-index: 0;
  } */
}

/* Iris' art section */



/* Ending section */


.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 66.66%;
  margin: auto;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* Credits section */

#credits {
  text-align: center;
  font-size: 0.8rem;
}
